<div class="header">
	<div class="container">
		<div class="row justify-content-center">
  			<div class="col-12" align="center">
  				<h2 class="display-5">Route <span class="badge badge-default">{{a_trip_id}}</span> {{aRoute.route_long_name}} </h2>
  			</div>
  			<div class="col-12 desc" align="center">
  				{{aRoute.route_desc}}
  			</div>
  			<div class="col-12" align="center">
  				<small *ngIf="liveRoute.length == 0; else availableBus">Bus No <span class="badge badge-default">{{a_trip_id}}</span> is currently not available</small>
  				<ng-template #availableBus>
  					<small>{{liveRoute.length}} of Bus No. <span class="badge badge-default">{{a_trip_id}}</span> is currently on service</small>
  				</ng-template>
  				
  			</div>
		</div>
	</div>
</div>
	
<div *ngFor= "let shape of mapShape">
	<agm-map [latitude]="shape.shape_lat" [longitude]="shape.shape_lon" [zoom]='shape.zoom' [minZoom]="minZoom" [styles] = 'mapStyle' [fullscreenControl]=true [mapTypeControl] = true [streetViewControl] = false [style.height.px] = "screenHeight">

		<agm-polyline [title]="'Routes'" [zIndex]='zindex'>
			<agm-polyline-point *ngFor= "let shape of aShape" [latitude]="shape.shape_pt_lat" [longitude]="shape.shape_pt_lon">
				
			</agm-polyline-point>
		</agm-polyline>
		
		<div *ngFor= "let stop of stopListByID; let i = index">
				<agm-marker [latitude]="stop.stop_lat" [longitude]="stop.stop_lon" [title] = "stop.stop_id" [iconUrl]= 'stopIcon' [label]='setLabel(stop.stop_id)'  [zIndex]="500-i">
					<agm-snazzy-info-window (beforeOpen)="stopIsClick(stop.stop_id)" [maxWidth]="400" [closeWhenOthersOpen]="true" [padding]="'10px'" [borderRadius]="'10px 10px'" [backgroundColor]="'#fff5a5'">
						<ng-template>
							<div class="stop-info-content">
								<h3>Stop Number <span class="badge badge-dark">{{aStopTime.stop_id.slice(5)}}</span></h3>
								Estimate stop at: {{aStopTime.arrival_time}}
							</div>
							<div>
								<small>{{stop.stop_desc}}</small>
							</div>
							
						</ng-template>
					</agm-snazzy-info-window>
				</agm-marker>
		</div>
		

		<agm-marker *ngFor= "let bus of liveRoute" [latitude]="bus.getLatitude()" [longitude]="bus.getLongitude()"  [title] = "bus.getRoute()" [label]="bus.getRouteNumber()" [iconUrl]= 'busIconUrl'>
			<agm-snazzy-info-window [maxWidth]="400" [closeWhenOthersOpen]="true" [padding]="'10px'" [borderRadius]="'10px 10px'" [backgroundColor]="'#fff5a5'">
				<ng-template>
					<h3>{{bus.getRoute()}}</h3>
					Origin: {{bus.getStart()}}
					<small>: {{bus.getStartTime()}}</small><br>
					Des: {{bus.getEnd()}}
					<small>: {{bus.getEndTime()}}</small>
					<hr>
					<small>Status: {{bus.getStatus()}}</small>
				</ng-template>
			</agm-snazzy-info-window>
		</agm-marker>

	</agm-map>
</div>

