
h2{
	font-size: 1.2em;
	margin-bottom: 0rem;
}

.header{
	background-color: #e9e9e9;
	padding: 10px 0;
}

@media only screen and (max-width: 950px) {
    h2{
	font-size: 1.8em;
}
}

@media only screen and (max-width: 550px) {
    h2{
	font-size: 1.5em;
}
}