.direction-img img{
	width: 25px;
	height: auto;
}

.direction-img{

	margin-bottom: 4px;
}

h3{
	margin-top: 0.5rem;
	font-size: 1.4rem;
}

.trip{
	border-bottom: 1px solid #DDDDDD;
	margin-top: 0.3rem;
}

.col{
	margin-top: 10px;
	margin-bottom: 10px;
}


@media only screen and (max-width: 448px) {
    .direction-img img{
	width: 35px;
	height: auto;
}
}