<div class="col">
	<div *ngIf = "isTwoWaysRoute; else oneway">	
	<h3 *ngIf="route_id !== '17'&& route_id !== '19' && route_id !== 'OL2'">From {{origin}} to {{destination}}</h3>
		<div class="route">
			<ngb-accordion>
					<ngb-panel *ngIf = "stop_time_by_FULLW_1.length > 0">
						<ng-template ngbPanelTitle class="btn btn-primary">
	      					<span>Monday to Friday</span>
	    				</ng-template>
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLW_1; let i = index">
									
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>

								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_FULLWT_1.length > 0" title="Thursday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLWT_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_FULLWTM_1.length > 0" title="Thursday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLWTM_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_FULLWF_1.length > 0" title="Friday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLWF_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_WESA_1.length > 0" title="Saturday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_WESA_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_WESAN_1.length > 0" title="Saturday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_WESAN_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_WESU_1.length > 0" title="Sunday & Public Holidays">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_WESU_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
			</ngb-accordion>
		</div>
			
		<hr>
		<h3 *ngIf="route_id !== '17'&& route_id !== '19' && route_id !== 'OL2'">From {{destination}} to {{origin}}</h3>
			<ngb-accordion>
				
					<ngb-panel *ngIf = "stop_time_by_FULLW_0.length > 0" >
						<ng-template ngbPanelTitle>
	      					<span>Monday to Friday</span>
	    				</ng-template>
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLW_0; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_FULLWT_0.length > 0" title="Thursday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLWT_0; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_FULLWTM_0.length > 0" title="Thursday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLWTM_0; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_FULLWF_0.length > 0" title="Friday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLWF_0; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_WESA_0.length > 0" title="Saturday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_WESA_0; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_WESAN_0.length > 0" title="Saturday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_WESAN_0; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_WESU_0.length > 0" title="Sunday & Public Holidays">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_WESU_0; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
			</ngb-accordion>
			<hr>
		</div>
		<ng-template #oneway>
			<ngb-accordion>
					<h3></h3>
					<ngb-panel *ngIf = "stop_time_by_FULLW_1.length > 0" >
						<ng-template ngbPanelTitle>
	      					<span>Monday to Friday</span>
	    				</ng-template>
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLW_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_FULLWT_1.length > 0" title="Thursday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLWT_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_FULLWTM_1.length > 0" title="Thursday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLWTM_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_FULLWF_1.length > 0" title="Friday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_FULLWF_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_WESA_1.length > 0" title="Saturday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_WESA_1; let i = index">
									<div class="row ">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_WESAN_1.length > 0" title="Saturday">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_WESAN_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
					<ngb-panel *ngIf = "stop_time_by_WESU_1.length > 0" title="Sunday & Public Holidays">
						<ng-template ngbPanelContent>
								<div class="trip" *ngFor = "let trip of stop_time_by_WESU_1; let i = index">
									<div class="row">
										<div class="col-8 col-sm-9 col-lg-10">
											<route-time [trip_id] = "trip.trip_id" [trip_headsign] = "trip.trip_headsign" [stopTimeList] = "stopTimeList" [shape_id] = "trip.shape_id"></route-time>

											<div class="direction-img">
												<button class="btn btn-light btn-sm" (click)="setData(trip.trip_id)" [routerLink]="['/timetables/route', trip.shape_id]"><img src="./assets/icon/gps-route.png" class="rounded mx-auto d-block" alt="Show Route"/></button>
											</div>
										</div>
										<div class="col-2 col-sm-3 col-lg-2">
											<div (click)="setFavourite(trip.trip_id)" [ngClass]="setFav(trip.trip_id)">
												<button class="btn btn-light btn-sm my-favourite-btn">Add to favourite</button>
											</div>
										</div>
									</div>
								</div>
						</ng-template>
					</ngb-panel>
			</ngb-accordion>
		</ng-template>
	
</div>