h3{
	font-size: 1.3em;
}

.route-list{
	white-space: normal;
	margin-bottom: 5px;
}

.trip-id{
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	font-size: 2rem;
	text-align: center;
	background-color: #343A40;
	color: #e2e2e2;
	border-radius: 5px;
}

.twoalpha{
	font-size: 1.5rem;
}

.threealpha{
	font-size: 1.3rem;
}

@media only screen and (max-width: 980px) {
    h3{
    	font-size: 1.1em;
    }
}

@media only screen and (max-width: 448px) {
    h3{
    	font-size: 1em;
    }
}