.btn {
    white-space: normal;
    margin-bottom: 2px;
}

.container{
	margin-top: 10px;
  padding-bottom: 5rem;
}

  /deep/ .card-header {
  border: 1px solid #DDDDDD;
  margin-bottom: 0.1rem;
}

  /deep/ .card-header  a{
  	color: #797D7F;
}

  /deep/ .card-body {
    padding: 0.5rem;
}

  /deep/ .card {
  border: none;
}

  /deep/ .card-header  a:hover{
  	color: #424949;
}

.float{
  position:fixed;
  width:60px;
  height:60px;
  bottom:80px;
  right:20px;
  background-color: transparent;
  border: none;
  background-image: url("../../../assets/icon/to-top.png");

}

.my-float{
  margin-top:22px;
}

.scroll-top-btn-hide{
  visibility: hidden;
}

.scroll-top-btn-show{
  visibility: visible;
}

.float:hover{

  background-image: url("../../../assets/icon/to-top-hover.png");

}

@media (max-width: 576px) { 

  .float{
  width:40px;
  height:40px;
  right:10px;
  bottom:75px;
  background-size: 40px 40px;

}


 }