
<div class="icon-guide">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col-4 col-md-3 col-lg-2 icon-content">
				<img src="./assets/icon/interchange-icon-md.png"/>
			</div>
			<div class="col-4 col-md-3 col-lg-2 icon-content">
				<img src="./assets/icon/bus-stop-lg.png"/>
			</div>
			<div class="col-4 col-md-3 col-lg-2 icon-content">
				<img src="./assets/icon/bus-md.png"/>
			</div>
		</div>
		<div class="row justify-content-center">
			<div class="col-4 col-md-3 col-lg-2 icon-content">Interchange
			</div>
			<div class="col-4 col-md-3 col-lg-2 icon-content">Stop
			</div>
			<div class="col-4 col-md-3 col-lg-2 icon-content">Bus
			</div>
		</div>
	</div>
</div>


<div class="map">
	<agm-map [latitude]="lat" [longitude]="lng" [zoom]='zoom' [styles] = 'mapStyle' 
	(zoomChange)="zoomChange($event)" [minZoom]="minZoom" (mapClick)="placeMarker($event)" [fullscreenControl]=true [mapTypeControl] = true [streetViewControl] = false [style.height.px] = "screenHeight">

	<!-- Draw Stop and interchanges -->
	<div *ngIf="stopZoomLevel">
		<agm-marker *ngFor= "let stop of allStops" [latitude]="stop.stop_lat" [longitude]="stop.stop_lon" [iconUrl]= 'stopIconUrl' [title] = "stop.stop_id">
			<agm-snazzy-info-window [maxWidth]="300" [padding]="'10px'" [borderRadius]="'10px 10px'" [backgroundColor]="'#7affb0'" [closeWhenOthersOpen]="true" [backgroundColor]="red">
				<ng-template>
					<div class="stop-header">
						<h3>{{stop.stop_name}}</h3>
					</div>
					
					{{stop.stop_desc}}
				</ng-template>
			</agm-snazzy-info-window>
		</agm-marker>
	</div>

	<agm-marker *ngFor= "let int of interchangeList" [latitude]="int.interchange_lat" [longitude]="int.interchange_lon" [iconUrl]= 'interchangeIconUrl' [title] = "int.interchange_desc" [zIndex]='zindex'>
		<agm-snazzy-info-window [maxWidth]="500" [closeWhenOthersOpen]="true" [padding]="'10px'" [borderRadius]="'10px 10px'" [backgroundColor]="'#004DB1'" [fontColor]="'white'">
			<ng-template>
				<div class="interchange-header">
					<h3>{{int.interchange_name}}</h3>
				</div>
				{{int.interchange_desc}}
				<div class="avai-sign">
					<h4>Available Routes:</h4>
				</div>
				<div class="route-lists" *ngFor="let route of int.routes">
					<span class="badge badge-light">{{route}}</span>
				</div>
			</ng-template>
		</agm-snazzy-info-window>
	</agm-marker>

	<agm-marker *ngFor= "let bus of liveDataArray" [latitude]="bus.getLatitude()" [longitude]="bus.getLongitude()"  [title] = "bus.getRoute()" [label]="bus.getRouteNumber()" [iconUrl]= 'busIconUrl' >
		<agm-snazzy-info-window [maxWidth]="'500'" [closeWhenOthersOpen]="true" [backgroundColor]="red" (beforeOpen)="open()" [padding]="'10px'" [borderRadius]="'10px 10px'" [backgroundColor]="'#ffeb6b'">
			<ng-template>
				<h3>{{bus.getRoute()}}</h3>
				Origin: {{bus.getStart()}}
				<small>: {{bus.getStartTime()}}</small><br>
				Des: {{bus.getEnd()}}
				<small>: {{bus.getEndTime()}}</small>
				<hr>
				<small>Status: {{bus.getStatus()}}</small>
			</ng-template>
		</agm-snazzy-info-window>
	</agm-marker>
</agm-map>
</div>

<div class="container">
	<div class="current-location">My Location</div>
</div>
