h3{
	font-size: 1.5em;
	padding-bottom: 5px;
	font-weight: bold;
}

h4{
	font-size:  1em;
	font-weight: bold;
	padding: 0;
	margin-top: 0.5em;
	margin-bottom: 0;
}

.interchange-header h3{
	border-bottom: 1px solid white;
}

.stop-header h3{
	border-bottom: 1px solid black;
}

.map{
	top: 118px;
	width: 100%;
	position: fixed;
}

.route-lists{
	display: inline-block;
	padding: 3px;
}

agm-map{

	width: 100vw;
	height: 80vh;
}


.icon-guide{
	top: 60px;
	width: 100%;
	background: #F5F5F2;
	padding: 5px 0 ;
}

.icon-content{
	text-align: center;
}

.current-location{
	text-indent: -20000px;      
    position: fixed;
    bottom: 70px; 
    left: 10px;
	background-image: url('../../assets/icon/navigation-1.png');
	background-repeat: no-repeat;
	background-position: center; 
	height: 70px;
   	width: 70px;

}

.current-location:active{
	background-image: url('../../assets/icon/navigation-hover.png');

}

.current-location:after{
	background-image: url('../../assets/icon/navigation-1.png');

}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    .current-location:hover{
	background-image: url('../../assets/icon/navigation-hover.png');

}

}

@media only screen and (max-width: 576px) {
    .icon-content img{
		height: 20px;
		width: 20px;
	}

	.icon-content {
		font-size: 0.8rem;
		font-weight: bold;
	}
	.map{
		top: 108px;
	}

}

@media only screen and (max-height:  576px) {

	agm-map{
	height: 70vh;
	}

}

@media only screen and (max-height:  350px) {

	agm-map{
	height: 50vh;
	}

}