<p>
	map works!
</p>


<div class="container">
	<agm-map [latitude]="lat" [longitude]="lng" [zoom]='zoom' (zoomChange)="zoomChange($event)" [minZoom]="minZoom" (mapClick)="placeMarker($event)">
		
		<!--

		<agm-marker *ngFor= 'let s of routeShape' 

		[latitude]="s.shape_pt_lat" [longitude]="s.shape_pt_lon" [iconUrl]= 'iconUrl'  >

		</agm-marker>

		-->
		
		<agm-marker *ngFor= "let stop of allStops"

		[latitude]="stop.stop_lat" [longitude]="stop.stop_lon" [iconUrl]= 'stopIconUrl' [title] = "stop.stop_desc" >

		</agm-marker>

		<agm-polyline>
			<agm-polyline-point *ngFor= "let shape of shapes" [latitude]="shape.shape_pt_lat" [longitude]="shape.shape_pt_lon">
				
			</agm-polyline-point>

			
		</agm-polyline>

</agm-map>

<input type="file" (change)="changeListener($event)">

<h2>Test JSON Reader</h2>


<ul *ngFor="let stop of allStops">
<li>{{stop.stop_id}}</li>


</ul>
</div>
