<nav class="navbar navbar-toggleable-sm navbar-light" style="background-color: #e3f2fd;">
    <div class="container">
        <button class="navbar-toggler" data-toggle="collapse" data-target="#mainNav">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mainNav">
            <div class="navbar-nav">
                <a class="nav-item nav-link active" href="#">Home</a>
                <a class="nav-item nav-link" href="#">Search</a>
                <a class="nav-item nav-link" href="#">My favourites</a>
                <a class="nav-item nav-link" href="#">Bus Timetables</a>
                <a class="nav-item nav-link" href="#">Map</a>
            </div>
        </div>
    </div>
</nav>

<div class="jumbotron" style="background-color: #e6f2f2;">
    <div class="container">
        <h1>NT Bus Tracker</h1>
    </div>
</div>

<div class="container">
<div id='map' style='width: 400px; height: 300px;'></div>
<script>
mapboxgl.accessToken = 'pk.eyJ1IjoiZ29sZjIzMDUwIiwiYSI6ImNqNmNuZnpuczFwangzMnFyM2hseTlvNHIifQ.ZOZBGzuYqqc-mqEAJ6ZX0A';
var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v9'
});
</script>

    </div>
