.mynav{
	margin-top: 59px;
	background-color: #dde4eb;
}

#timetable{
	background-image: url('../assets/nav/timetable-b.png');

}

#timetable:hover{
	background-image: url('../assets/nav/timetable.png');
}

#map{
	background-image: url('../assets/nav/map-b.png');

}

#map:hover{
	background-image: url('../assets/nav/map.png');
}

#favourite{
	background-image: url('../assets/nav/fav-b.png');

}

#favourite:hover{
	background-image: url('../assets/nav/fav.png');
}

#timetable, #map, #favourite{
	background-repeat: no-repeat;
	background-position: center; 
	height: 70px;
   	width: 100px;
}


.mynav a{
	color: #343A40;
	text-align: center;
	height: 100%;
	width: 0 auto;
}

.mynav a:hover{
	background-color: #343A40;
	color: #c5c5c5;
}