h2{
	font-size: 1.7rem;
}

h3{
	height: 5rem;
	width: 5rem;
	font-size: 4.5rem;
	text-align: center;
	align-content: center;
}
h3 span.badge{
	height: 5rem;
	width: 5rem;
}

.favourite{
	background: #F5F5F2;
	padding-bottom: 0.5rem;
}

.favourite-header{
	padding-top: 0.5rem;
	text-align: center;

}

.favourite-list{
	margin-top: 1rem;
	color: #4f4f4f;
}

.route-sign{
  margin: auto;
}

.favourite-route{
	padding-bottom: 0.5rem;
	border-bottom: 1px solid;
}

.remove-btn{
	display: flex;
  	align-items: center;
  	justify-content: center;
}

.remove-btn button{
	height: 3rem;
	width: 5rem;
	background-image: url('../../assets/icon/tag-delete-w.png');
	background-size: 1.5rem;
	background-repeat: no-repeat;
	background-position: 25px 3px; 
}

.remove-btn button span{
	display: block;
    position: absolute;
    bottom: 25px;
}

.show-route:hover{
	background-color: #F5F5F2;
	cursor: pointer;
}


@media only screen and (max-width: 768px) {

	h3{
		height: 4rem;
		width: 4rem;
		font-size: 3.5rem;
		text-align: center;
		align-content: center;
	}
	h3 span.badge{
		height: 4rem;
		width: 4rem;
	}

	.remove-btn button span{
		display: block;
	    position: absolute;
	    bottom: 16px;
	}
	
}

@media only screen and (max-width: 576px) {

	h3{
		height: 3rem;
		width: 3rem;
		font-size: 2.5rem;
	}

	h3 span.badge{
		height: 3rem;
		width: 3rem;
	}

	.remove-btn button{
		height: 2.5rem;
		width: 4rem;
		background-size: 1.2rem;
		background-position: 20px 2px; 
	}

	.remove-btn button span{
		font-size: 0.7rem;
	    bottom: 20px;
	}

	
}