/* You can add global styles to this file, and also import other style files */

h1{
	margin: 0 auto;
	text-align: center;
}

* {

  font-family: 'Lato', sans-serif;
}

body {
  padding-top: 3.7rem;

}