<p>
  home works!
</p>

<div class="jumbotron" style="background-color: #e6f2f2;">
    <div class="container">
        <h1>NT Bus Tracker</h1>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-4">
            <form class="form-inline">
                <div class="form-group row">
                        <label class="mr-sm-2" for="searchForm">Filter</label>
                        <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
                            <option selected>Choose...</option>
                            <option value="1">Suburb</option>
                            <option value="2">Bus Interchange</option>
                            <option value="3">Route Number</option>
                            <option value="4">Street Name</option>
                        </select>
                </div>

                
                <div class="form-group row">
                    <div class="col-sm-6">
                        <input type="email" class="form-control" id="inputSearch" placeholder="searchField">
                    </div>
                </div>

                <div class="form-group row">

                </div>
            </form>
        </div>


        <div class="col-md-8">
            <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/view?zoom=11&center=-12.4634%2C130.8456&key=AIzaSyAS-iPVL-na_JHXLXOXQtOCIRnlDxa55So" allowfullscreen></iframe>
        </div>
    </div>

</div>